@import "/styles/variables";

.boost {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: $darker;
  position: relative;
  overflow: hidden;
}

.game {
  height: 100%;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flowWrapper {
  height: 65vh;
  width: 70vw;
  overflow: hidden;
  position: relative;
  border-top: thin solid #fe757e;
  border-bottom: thin solid #fe757e;
  padding: 8px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20vw;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &::before {
    border-bottom: 8px solid #fe757e;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 0;
  }
  &::after {
    border-top: 8px solid #fe757e;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}

.questionWrapper {
  margin-top: 5vh;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5vw;
  position: relative;
  * {
    font-family: $jetbrains;
  }
}

.question {
  margin: 2vh 0.5rem;
  color: $lightest;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1rem;
}

.choiceContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 8vw;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
  }
  &::before {
    left: 0;
    transform: translateX(calc(-100% - 2vw));
    border-left: 8px solid $lightest;
  }
  &::after {
    right: 0;
    transform: translateX(calc(100% + 2vw));
    border-right: 8px solid $lightest;
  }
}

.choice {
  width: 10vw;
  min-width: 150px;
  margin: 2vh 1vw;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  background: #fe757e;
  transition: background-color 0.1s ease-out;
  p {
    pointer-events: none;
    height: 100%;
    width: 100%;
    text-align: center;
    color: $lightest;
    line-height: 5vh;
    overflow: hidden;
    z-index: 1;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -2vw;
      height: 100%;
      width: 0;
      background: #ec505b;
      opacity: 0;
      z-index: -1;
      transform: skew(-20deg);
      transition: opacity 0.1s ease-out, width 0.1s ease-out 0.1s;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    border: thin solid rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.1s ease-out, border-color 0.1s ease-out;
  }
  &:hover {
    border-color: $lightest;
    p::before {
      width: calc(100% + 4vw);
      opacity: 1;
      transition: width 0.2s ease-out;
    }
    &::after {
      border-color: white;
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.75),
        inset 0 0 8px rgba(255, 255, 255, 0.75);
    }
  }
}

.questionWrapper.correctChoice {
  .question {
    color: $green;
  }
  .choiceContainer {
    &::before,
    &::after {
      background: $green;
    }
    &::before {
      border-color: $green;
    }
    &::after {
      border-color: $green;
    }
    .choice.answer {
      background: $green;
      &::after {
        border-color: $green;
      }
    }
    .choice.notAnswer {
      background: rgba(255, 255, 255, 0.1);
      opacity: 0.5;
      &::after {
        border-color: transparent;
      }
    }
  }
}

.questionWrapper.incorrectChoice {
  .question {
    color: $red;
  }
  .choiceContainer {
    &::before,
    &::after {
      background: $red;
    }
    &::before {
      border-color: $red;
    }
    &::after {
      border-color: $red;
    }
    .choice.answer {
      background: $lightest;
      p {
        color: $darkest;
      }
      &::after {
        border-color: $lightest;
      }
    }
    .choice.notAnswer {
      background: rgba(255, 255, 255, 0.1);
      opacity: 0.5;
      &::after {
        border-color: transparent;
      }
    }
    .choice.notAnswer.incorrectResponse {
      background: $red;
      &::after {
        border-color: transparent;
      }
    }
  }
}

.questionWrapper.flashing {
  pointer-events: none;
}

.leftMenu {
  height: 100%;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: width 0.2s ease-out;
  position: relative;
  z-index: 1;
}

.leftMenu.histExpanded {
  width: 30vw;
}

.histWrapper {
  width: 100%;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  * {
    font-family: $jetbrains;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.hoverArea {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15vw;
}

.buttonContainer {
  width: 100%;
  display: flex;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.75rem 0.75vw;
  border-right: thin solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.75);
  font-size: calc(0.4rem + 0.4vw);
  font-family: $jetbrains;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  overflow: hidden;
  transition: color 0.1s ease-out, background-color 0.1s ease-out,
    letter-spacing 0.1s ease-out;
  svg {
    width: 1vw;
    margin-right: 0.5vw;
    transition: transform 0.1s ease-out;
  }
  path {
    fill: rgba(255, 255, 255, 0.75);
    transition: fill 0.1s ease-out;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, white 3px, transparent 3px) 0 0,
      linear-gradient(to right, white 3px, transparent 3px) 0 100%,
      linear-gradient(to left, white 3px, transparent 3px) 100% 0,
      linear-gradient(to left, white 3px, transparent 3px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 3px 3px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-out;
  }
  &:hover {
    color: $lightest;
    path {
      fill: $lightest;
    }
    &::after {
      opacity: 100%;
    }
  }
}

.lockHist {
  &:hover {
    letter-spacing: 0.3em;
  }
  &.histExpanded {
    letter-spacing: 0.3em;
    background: $darkest;
    &:hover {
      letter-spacing: 0.1em;
    }
  }
}

.back:hover svg {
  transform: translateX(-2px);
}

.levels:hover svg {
  transform: rotate(90deg);
}

.volume {
  flex: 0 0 3rem;
  max-width: 3rem;
  min-width: 3rem;
  padding: 0;
  position: relative;
  overflow: visible;
  &:hover {
    background: $darkest;
  }
  &::after {
    background: linear-gradient(to right, white 3px, transparent 3px) 0 100%,
      linear-gradient(to left, white 3px, transparent 3px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 3px 3px;
  }
  .volumeIcon {
    padding: 0.75rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg {
    margin: 0;
    width: calc(1vw + 0.3rem);
    color: rgba(255, 255, 255, 0.75);
  }
  path,
  &:hover path {
    color: inherit;
    fill: currentColor;
  }
  .sliderWrapper {
    background: $darkest;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: calc(50% + 1px);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.75rem 0 0.5rem;
    transform: rotate(-90deg) translate(0, -50%);
    transform-origin: left top;
    cursor: default;
    transition: opacity 0.1s ease-out;
    .slider {
      -webkit-appearance: none;
      appearance: none;
      height: 2px;
      width: 8rem;
      cursor: pointer;
      outline: none;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 14px;
        height: 14px;
        transform: rotate(45deg);
        padding: 5px;
        border: thin solid white;
        box-shadow: inset 0 0 0 40px #ec505b;
        cursor: ns-resize;
      }
      &::-moz-range-thumb {
        width: 14px;
        height: 14px;
        transform: rotate(45deg);
        border: thin solid #ec505b;
        box-shadow: inset 0 0 0 1px white;
        background: #ec505b;
        cursor: ns-resize;
      }
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 3px;
      width: 3px;
      background: $lightest;
      right: 0;
    }
    &::after {
      top: auto;
      right: 0;
      bottom: 0;
    }
  }
  &:hover .sliderWrapper {
    opacity: 1;
    pointer-events: auto;
  }
  &:hover svg {
    color: $lightest;
  }
}

.h1 {
  position: absolute;
  top: 50%;
  height: 1px;
  width: 1px;
  right: 2vw;
  transform: rotate(90deg) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    text-transform: uppercase;
    font-size: 15vh;
    font-family: $jetbrains;
  }
  .fill {
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: $lightest;
    letter-spacing: -0.1em;
    opacity: 0.1;
  }
  .stroke {
    color: $lightest;
    opacity: 0.05;
  }
}
