@import "/styles/variables";

.boost {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: $darker;
  position: relative;
  overflow: hidden;
}

.game {
  height: 100%;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flowWrapper {
  height: 65vh;
  width: 70vw;
  overflow: hidden;
  position: relative;
  border-top: thin solid #fe757e;
  border-bottom: thin solid #fe757e;
  padding: 8px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20vw;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &::before {
    border-bottom: 8px solid #fe757e;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 0;
  }
  &::after {
    border-top: 8px solid #fe757e;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}

.questionWrapper {
  margin-top: 5vh;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5vw;
  position: relative;
  &::after {
    content: "";
    position: absolute;
  }
  * {
    font-family: $jetbrains;
  }
}

.question {
  margin: 2vh 0.5rem;
  color: $lightest;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1rem;
}

.choiceContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 8vw;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
  }
  &::before {
    left: 0;
    transform: translateX(calc(-100% - 2vw));
    border-left: 8px solid $lightest;
  }
  &::after {
    right: 0;
    transform: translateX(calc(100% + 2vw));
    border-right: 8px solid $lightest;
  }
}

.choice {
  width: 10vw;
  margin: 2vh 1vw;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  background: #fe757e;
  transition: background-color 0.1s ease-out;
  p {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    color: $lightest;
    line-height: 5vh;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -2vw;
      height: 100%;
      width: 0;
      background: #ec505b;
      opacity: 0;
      z-index: -1;
      transform: skew(-20deg);
      transition: opacity 0.1s ease-out, width 0.1s ease-out 0.1s;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    border: thin solid rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.1s ease-out, border-color 0.1s ease-out;
  }
  &:hover {
    border-color: $lightest;
    p {
      &::after {
        width: calc(100% + 4vw);
        opacity: 1;
        transition: width 0.2s ease-out;
      }
    }
    &::after {
      border-color: white;
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.75),
        inset 0 0 8px rgba(255, 255, 255, 0.75);
    }
  }
}

.histContainer {
  height: 100%;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.75rem 1vw;
  border-right: thin solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.75);
  font-size: calc(0.4rem + 0.5vw);
  font-family: $jetbrains;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  overflow: hidden;
  transition: color 0.1s ease-out, background-color 0.1s ease-out;
  svg {
    margin-right: 0.5rem;
    transition: transform 0.1s ease-out;
  }
  path {
    fill: rgba(255, 255, 255, 0.75);
    transition: fill 0.1s ease-out;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 1px;
    background: $lightest;
    transition: height 0.2s ease-out;
  }
  &:hover {
    color: $lightest;
    path {
      fill: $lightest;
    }
    &::after {
      height: 100%;
    }
  }
}

.button.history.active {
  background: $darkest;
}

.button.back:hover svg {
  transform: translateX(-2px);
}

.histWrapper {
  width: 100%;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow-y: auto;
  * {
    font-family: $jetbrains;
  }
}

.histItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 13vh;
  width: 100%;
  position: relative;
  border-top: thin solid rgba(0, 0, 0, 0.75);
  transition: height 0.2s ease-out, width 0.2s ease-out;
  .histIndex {
    position: absolute;
    font-size: 10px;
    line-height: 1rem;
    text-align: right;
    padding: 0 0.5rem;
    top: 0;
    right: 0;
    width: 2rem;
    background: rgba(0, 0, 0, 0.75);
  }
  .histImg {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0.75;
  }
}

.correct {
  color: #49ca3d;
}
.incorrect {
  color: #fc3535;
}

.h1 {
  position: absolute;
  top: 50%;
  height: 1px;
  width: 1px;
  right: 2vw;
  transform: rotate(90deg) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    text-transform: uppercase;
    font-size: 15vh;
    font-family: $jetbrains;
  }
  .fill {
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: $lightest;
    letter-spacing: -0.1em;
    opacity: 0.1;
  }
  .stroke {
    color: $lightest;
    opacity: 0.05;
  }
}
