@import "/styles/variables";

.histItem {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 13vh;
  width: 100%;
  transition: flex 0.2s ease-out, width 0.2s ease-out;
  .histImg {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0.75;
    transition: opacity 0.2s ease-out;
  }
  .histRecord {
    position: absolute;
    line-height: 1rem;
    font-size: 12px;
    bottom: 0;
    text-transform: uppercase;
    transition: line-height 0.2s ease-out, padding 0.2s ease-out,
      font-size 0.2s ease-out;
  }
  .histRecord {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    left: 0;
    width: 100%;
    max-width: 100%;
    p {
      padding-top: 0.2rem;
      line-height: inherit;
      font-size: inherit;
      margin: 0 0.35em;
      color: inherit;
      &.index {
        margin-left: auto;
        padding-left: 0.5rem;
        border-left: thin solid rgba(255, 255, 255, 0.1);
      }
    }
  }
  &:first-child {
    margin-top: auto;
  }
}
.incorrectItem {
  .histRecord {
    background: #4d1919;
    color: #ff6060;
  }
  .histIndex {
    color: #ff6060;
    background: #4d1919;
  }
}
.correctItem {
  .histRecord {
    background: #01662b;
    color: #22ee55;
  }
  .histIndex {
    color: #22ee55;
    background: #01662b;
  }
}

.histItem.expanded {
  flex: 0 0 26vh;
  .histImg {
    opacity: 1;
  }
  .histIndex,
  .histRecord {
    line-height: 1.5rem;
    padding: 0 0 0 1rem;
    font-size: 1rem;
  }
}
