@import "/styles/variables";

.levelModal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 6;
  background: rgba(black, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuContainer {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  * {
    color: $lightest;
    text-transform: uppercase;
    font-family: $jetbrains;
    text-align: center;
  }
}

.menuWrapper {
  width: 100%;
  margin: 2vh 0;
  display: flex;
  flex-wrap: wrap;
  transition: filter 0.1s ease-out;
  &.disabled {
    pointer-events: none;
    filter: brightness(0.25);
  }
}

.card {
  background: rgba(white, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  margin: 0.2rem;
  transition: all 0.1s ease-out;
}

.buttonCard {
  opacity: 0.65;
  font-weight: 700;
  flex: 1 1 0;
  letter-spacing: 0.1em;
  border: thin solid rgba(white, 0.4);
  position: relative;
  background: transparent;
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background: rgba(white, 0.2);
    transition: height 0.1s ease-out, width 0.1s ease-out;
  }
  &:hover {
    opacity: 1;
  }
  &.selected {
    opacity: 1;
    pointer-events: none;
    border-color: white;
    &::before {
      height: calc(100% - 6px);
      width: calc(100% - 6px);
    }
  }
  &.current {
    &::after {
      content: "ACTIVE";
      font-size: 10px;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100%);
    }
  }
}

.titleCard {
  width: 100%;
  height: 5vh;
  font-weight: 400;
  font-size: 14px;
  color: #b4b4b4;
  background: rgba(white, 0.05);
}

.levelCard {
  height: 20vh;
  &.complete {
    border-color: $green;
    color: $green;
    &::before {
      opacity: 0.25;
      background: $green;
    }
  }
}

.modeCard {
  height: 15vh;
  font-size: 14px;
}

.proceed {
  width: 50%;
  flex: 0 0 8vh;
  margin-top: 4vh;
  font-size: 14px;
  opacity: 1;
  border: 0px solid transparent;
  &:hover {
    border: thin solid;
    &:before {
      height: calc(100% - 6px);
      width: calc(100% - 6px);
    }
  }
}

.close {
  position: absolute;
  top: -5vh;
  right: -10vw;
  z-index: 7;
  opacity: 0.75;
  padding: 0.25rem;
  border: thin solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.1s ease-out, border-color 0.1s ease-out;
  span {
    padding: 0.1rem;
    transition: color 0.1s ease-out;
  }
  &:hover {
    opacity: 1;
    border-color: $red;
    span {
      color: $red;
    }
  }
}

.levelModal.comparison {
  .buttonCard.current::after {
    color: #fe757e;
  }
  .proceed {
    &::before {
      background: #fe757e;
    }
    &:hover {
      border-color: #fe757e;
    }
  }
}

.levelModal.conditional {
  .buttonCard.current::after {
    color: #ff6bcd;
  }
  .proceed {
    &::before {
      background: #ff6bcd;
    }
    &:hover {
      border-color: #ff6bcd;
    }
  }
}
