@import "/styles/variables";

.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 2rem;
	width: 400px;
}

.submit {
	width: 10rem;
	margin-top: 1rem;
	background: rgba($blue-mid, 0.1);
	color: $blue-mid;
	&:hover {
		background: $blue-mid;
		color: white;
	}
}
