@import "/styles/variables";

.p {
	margin: 1rem 0;
	font-weight: 500;
	font-size: 14px;
}

.btnContainer {
	width: 100%;
	display: flex;
	margin-top: 2rem;
}

.deleteBtn {
	width: 100%;
	background: $red;
	color: white;
	box-shadow: 0 4px 16px 0 rgba($red, 0.1);
	&:hover {
		box-shadow: 0 8px 24px 0 rgba($red, 0.25);
	}
}

.cancelBtn {
	margin-right: 1rem;
	width: 100%;
	background: $lightest;
	color: $dark;
	&:hover {
		background: $lighter;
		color: $darkest;
	}
}
