@import "/styles/variables";

.btnContainer {
	width: 100%;
	display: flex;
	margin-top: 2rem;
}

.leaveBtn {
	width: 100%;
	background: $amber;
	color: white;
	box-shadow: 0 4px 16px 0 rgba($amber, 0.1);
	&:hover {
		box-shadow: 0 8px 24px 0 rgba($amber, 0.25);
	}
}

.cancelBtn {
	margin-right: 1rem;
	width: 100%;
	background: $lightest;
	color: $dark;
	&:hover {
		background: $lighter;
		color: $darkest;
	}
}
