@import "/styles/variables";

.form {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	width: 100%;
}

.submit {
	background: rgba($blue-mid, 0.1);
	color: $blue-mid;
	&:hover {
		background: $blue-mid;
		color: white;
	}
}
