@import "/styles/variables";

.codePanel {
	flex: 1 1 0;
	border-top: thin solid $border-color;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 1rem;
	overflow: hidden;
}

.layouts {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0.5rem 0.5rem;
	button {
		margin: 0 0.25rem;
		height: 2rem;
		width: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0.25;
		border-radius: 2px;
		transition: all 0.1s ease-out;
		&:hover {
			opacity: 0.75;
		}
		&.active {
			background: $border-color;
			opacity: 1;
		}
	}
}

.codeTabs {
	padding: 0 0.25rem;
	display: flex;
	flex: 0 0 2.5rem;
	border-bottom: thin solid $border-color;
	button {
		height: 100%;
		padding: 0 0.75rem;
		font-size: 12px;
		font-weight: 500;
		opacity: 0.25;
		position: relative;
		transition: opacity 0.1s ease-out;
		&::after {
			content: "";
			position: absolute;
			width: 0;
			height: 2px;
			background: $darkest;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			transition: width 0.2s ease-out;
		}
		&:hover {
			opacity: 0.75;
		}
		&.active {
			opacity: 1;
			&::after {
				width: calc(100% - 1.5rem);
			}
		}
	}
}

.codeItemContainer {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
}

.newFileBtn {
	align-self: flex-end;
	margin: 0.25rem;
	display: flex;
	align-items: center;
	flex: 0 0 1.5rem;
	padding: 0 0.5rem;
	border-radius: 3px;
	font-size: 12px;
	background: $lighter;
	color: $blue-dark;
	transition: background-color 0.1s ease-out;
	i {
		height: 8px;
		width: 8px;
		position: relative;
		margin-right: 0.25rem;
		transition: background-color 0.1s ease-out;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			background: $blue-dark;
			transform: translate(-50%, -50%);
		}
		&::before {
			width: 8px;
			height: 1px;
		}
		&::after {
			height: 8px;
			width: 1px;
		}
	}
	&:hover {
		background: rgba($blue-dark, 0.1);
	}
}

.block {
	padding: 0.75rem 0.5rem 0.75rem 1rem;
}

.ctxMenu {
	position: absolute;
	display: flex;
	flex-direction: column;
	position: absolute;
	background: white;
	z-index: 1;
	border: thin solid $border-color;
	box-shadow: 0 2px 4px 0 rgb(black, 0.05);
	padding: 0.25rem 0;
	button {
		min-width: 7rem;
		display: flex;
		align-items: center;
		height: 1.75rem;
		padding: 0 0.75rem;
		font-size: 13px;
		&:hover {
			background: rgba($blue-dark, 0.05);
		}
	}
}

@supports (overflow: overlay) {
	.fileList {
		overflow: overlay;
		&::-webkit-scrollbar {
			display: block;
			width: 8px;
		}
		&::-webkit-scrollbar-button {
			display: none;
		}
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-thumb,
		&::-webkit-scrollbar-track-piece {
			background: transparent;
		}
		&::-webkit-scrollbar-thumb:active {
			background: rgba(black, 0.25) !important;
		}
		&:hover {
			&::-webkit-scrollbar-thumb {
				background: rgba(black, 0.1);
			}
		}
	}
}
