@import "/styles/variables";

.myAccount {
  height: 100%;
  width: 100%;
  display: flex;
}

.userDetails {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.avatar {
  margin-top: 4vh;
  height: 14vh;
  width: 14vh;
  min-height: 6rem;
  min-width: 6rem;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 6vh;
    color: $lightest;
  }
  &.admin {
    background: $magenta-light;
  }
  &.educator {
    background: $green;
  }
  &.learner {
    background: $blue-mid;
  }
}

.secondary {
  align-self: flex-start;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  button {
    i {
      margin-right: 0.75em;
      font-size: 16px;
    }
    &.deleteAcc:hover {
      color: $red;
      background: rgba($red, 0.1);
    }
  }
}

.rightArea {
  margin-left: 5vw;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h1 {
    margin-top: 5vh;
    font-size: 2rem;
    font-weight: 600;
    color: $darker;
  }
}

.ctaContainer {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  .tallCta {
    height: 50vh;
    width: 40vh;
    max-height: 500px;
    max-width: 400px;
    min-width: 20vw;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img {
      height: 60%;
      width: 85%;
    }
    p {
      font-size: 14px;
      color: $lightest;
      margin: 2vh 0;
    }
    button {
      margin-bottom: 2vh;
      min-width: 220px;
      width: 65%;
      height: 4.5rem;
      border-radius: 4.5rem;
      font-size: 20px;
      font-weight: 600;
    }
  }
  .join {
    background: linear-gradient(to bottom right, $logo-dark, $magenta-light);
    button {
      border: medium solid $lightest;
      color: $lightest;
      transition: background-color 0.1s ease-out, color 0.1s ease-out;
      &:hover {
        background: $lightest;
        color: $logo-mid;
      }
    }
  }
  .create {
    background: linear-gradient(to bottom right, $blue-dark, $blue-light);
    button {
      background: $lightest;
      color: $blue-mid;
      box-shadow: 0 4px 24px 0 rgba($blue-dark, 0.25);
    }
  }
  & > * {
    margin: 0 1vw;
  }
  & > *:first-child {
    margin-left: 0;
  }
  & > *:last-child {
    margin-right: 0;
  }
}
