@import "/styles/variables";

.container {
	display: flex;
	align-items: center;
	cursor: auto;
}

.wrapper {
	pointer-events: auto;
	width: 20rem;
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	background: #f5f5f5;
	position: relative;
	transition: box-shadow 0.1s ease-out;
	&:hover {
		background: white;
		box-shadow: 0 0 3rem -0.5rem rgba($blue-dark, 0.25);
	}
}

.title {
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem;
	font-family: $jetbrains;
	text-transform: uppercase;
	color: black;
}

.img {
	pointer-events: none;
	position: relative;
	display: block;
	width: 100%;
	height: 160px;
	border-radius: 4px;
	overflow: hidden;
}

.description {
	color: black;
	padding: 0.5rem 0.25rem;
	font-size: 12px;
	font-family: $jetbrains;
	line-height: 1.25em;
	font-weight: 500;
}

.handles {
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.handle {
	position: relative !important;
	margin: 12px 0 !important;
	background: transparent !important;
	height: 8px !important;
	width: 8px !important;
	border: 2px solid #cecece !important;
}

.btn {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	color: white;
	font-size: 14px;
	background: $blue-dark;
	border-radius: 4px;
	font-family: $jetbrains;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-bottom: 0.25rem;
	pointer-events: auto;
}
