@import "/styles/variables";

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 0.5rem;
	.inputContainer {
		margin: 1rem 0;
	}
	.submitBtn {
		align-self: flex-end;
		font-size: 1rem;
		i {
			margin-left: -0.5rem;
			margin-right: 0.5rem;
			font-size: 20px;
		}
	}
}
