@import "/styles/variables";

.view {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(1px);
	animation: appear 0.2s ease-out;
}

.modal {
	position: relative;
	z-index: 1;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 2.5rem;
	border-radius: 1rem;
	animation: float-up 0.2s ease-out;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 36, 63, 0.1);
}

.close {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	cursor: pointer;
	transition: color 0.1s ease-out;
	&:hover {
		color: $red;
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes float-up {
	from {
		transform: translateY(1rem);
	}
	to {
		transform: none;
	}
}
