@import "/styles/variables";

.textEditor {
	max-height: 100%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	&.running {
		border-bottom: 6px solid #ffa723;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex: 0 0 2rem;
	background: $border-color;
	overflow: auto;
	.filename {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		font-size: 12px;
		font-weight: 500;
		padding: 0 0.5rem;
		height: 100%;
		background: $lighter;
		opacity: 0.75;
		border-bottom: thin solid $light;
		border-right: thin solid $light;
		border-top: thin solid transparent;
		&:hover {
			opacity: 1;
			background: white;
		}
		&.active {
			opacity: 1;
			background: white;
			border-top: thin solid $light;
			border-bottom: thin solid white;
		}
		&.running {
			color: #ffa723;
		}
		.fileIcon {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 0.25rem;
			.runningIcon {
				font-size: 1rem;
				color: #ffa723;
			}
		}
		.rightIcon {
			height: 20px;
			width: 20px;
			margin-left: 0.25rem;
			display: flex;
			align-items: center;
			justify-content: center;
			.unsavedIndicator {
				background: $light;
				height: 8px;
				width: 8px;
				border-radius: 8px;
			}
			.closeIcon {
				border-radius: 4px;
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				path {
					stroke: $dark;
				}
				&:hover {
					background: rgba(black, 0.075);
					path {
						stroke: $darker;
					}
				}
			}
			&:hover {
				.unsavedIndicator {
					display: none !important;
				}
				.closeIcon {
					display: flex !important;
				}
			}
		}
	}
	&::after {
		content: "";
		flex: 1;
		height: 100%;
		border-bottom: thin solid $light;
		box-sizing: border-box;
	}
}

.dragContainer {
	z-index: 2;
	height: 0;
	width: 100%;
	position: relative;
}

.dragWrapper {
	position: absolute;
	right: calc(1rem + 5.5vw);
	width: min-content;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	padding: 2px 4px 2px 0;
	border: thin solid $border-color;
	border-top: none !important;
	box-shadow: 0 2px 4px 0 rgba(black, 0.1);
	&.running {
		border: thin solid #ffa723;
	}
	.dragHandle {
		cursor: move; /* fallback if grab cursor is unsupported */
		cursor: grab;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 2px;
		&:active {
			cursor: grabbing;
		}
		i {
			font-size: 1.25rem;
			color: $dark;
		}
	}
	.btnContainer {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		button {
			height: 2rem;
			display: flex;
			align-items: center;
			padding: 0 0.5rem 0 0.25rem;
			font-size: 13px;
			border-radius: 4px;
			i {
				font-size: 18px;
				margin-right: 4px;
			}
			&:hover {
				color: black;
				background: rgba(black, 0.05);
			}
			&.run i {
				color: $green-mid;
			}
			&.stop i {
				color: $red;
			}
			&.restart i {
				color: $amber;
				font-size: 16px;
			}
			&.stop,
			&.restart {
				pointer-events: none;
				opacity: 0.25;
				// display: none;
			}
			&.more {
				margin-left: auto;
				padding: 0;
				justify-content: center;
				width: 2rem;
				i {
					color: $dark;
					margin: 0;
				}
			}
		}
		&.running button {
			&.run {
				pointer-events: none;
				opacity: 0.25;
				// display: none;
			}
			&.stop,
			&.restart {
				pointer-events: auto;
				opacity: 1;
				// display: flex;
			}
		}
	}
}

.wrapper {
	flex: 1 1 0;
	width: 100%;
	display: flex;
	* {
		font-family: $roboto;
		font-size: 14px;
	}
}

@supports (overflow: overlay) {
	.header {
		overflow: overlay;
		&::-webkit-scrollbar {
			display: block;
			height: 4px;
		}
		&::-webkit-scrollbar-button {
			display: none;
		}
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-thumb,
		&::-webkit-scrollbar-track-piece {
			background: transparent;
		}
		&::-webkit-scrollbar-thumb:active {
			background: rgba(black, 0.25) !important;
		}
		&:hover {
			&::-webkit-scrollbar-thumb {
				background: rgba(black, 0.1);
			}
		}
	}
}
