@import "/styles/variables";

.textEditor {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 3rem;
	padding: 0 1rem;
	.filename {
		display: flex;
		align-items: center;
		font-size: 13px;
		font-weight: 500;
		.fileIcon {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 0.5rem;
		}
		.unsavedIndicator {
			height: 1rem;
			width: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			&::before {
				content: "";
				background: $light;
				height: 6px;
				width: 6px;
				border-radius: 8px;
			}
		}
	}
}

.btnContainer {
	display: flex;
	align-items: center;
	button {
		height: 1.75rem;
		display: flex;
		align-items: center;
		padding: 0 0.5rem 0 0.25rem;
		font-size: 13px;
		border-radius: 4px;
		i {
			font-size: 18px;
			margin-right: 4px;
		}
		&:hover {
			background: rgba(black, 0.05);
		}
		&.run i {
			color: $green-mid;
		}
		&.stop i {
			color: $red;
		}
		&.restart i {
			color: $amber;
			font-size: 16px;
		}
		&.unlink i {
			color: $blue-mid;
			font-size: 16px;
		}
		&.more {
			padding: 0 0.25rem;
			i {
				color: $dark;
				margin: 0;
			}
		}
	}
}

.wrapper {
	border-top: thin solid $border-color;
	height: 100%;
	width: 100%;
	display: flex;
	* {
		font-family: $roboto;
		font-size: 14px;
	}
}
