@import "/styles/variables";

.textEditor {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 2rem;
	background: $border-color;
	overflow: auto;
	.filename {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		font-size: 12px;
		font-weight: 500;
		padding: 0 0.5rem 0 0.75rem;
		height: 100%;
		background: $lighter;
		opacity: 0.75;
		border-bottom: thin solid $light;
		border-right: thin solid $light;
		transition: border-color 0.1s ease-out;
		.fileIcon {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 0.25rem;
		}
		.unsavedIndicator {
			display: flex;
			align-items: center;
			justify-content: center;
			&::before {
				content: "";
				background: $light;
				height: 6px;
				width: 6px;
				border-radius: 8px;
			}
		}
		.closeIcon {
			position: relative;
			height: 18px;
			width: 18px;
			margin-left: 0.5rem;
			border-radius: 4px;
			&::before,
			&::after {
				content: "";
				background: $light;
				border-radius: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				height: 12px;
				width: 1px;
			}
			&::before {
				transform: translate(-50%, -50%) rotate(45deg);
			}
			&::after {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
			&:hover {
				background: $border-color;
				&::before,
				&::after {
					background: $darker;
				}
			}
		}
		&:hover {
			opacity: 1;
			background: white;
		}
		&.active {
			opacity: 1;
			background: white;
			border-bottom: thin solid white;
		}
	}
	&::after {
		content: "";
		flex: 1;
		height: 100%;
		border-bottom: thin solid $light;
		box-sizing: border-box;
	}
}

.btnContainer {
	padding: 0.25rem 0.5rem;
	display: flex;
	align-items: center;
	button {
		height: 2rem;
		display: flex;
		align-items: center;
		padding: 0 0.5rem;
		font-size: 13px;
		border-radius: 4px;
		i {
			font-size: 18px;
			margin-right: 4px;
		}
		&:hover {
			color: black;
			background: rgba(black, 0.05);
		}
		&.run i {
			color: $green-mid;
		}
		&.stop i {
			color: $red;
		}
		&.restart i {
			color: $amber;
			font-size: 16px;
		}
		&.unlink i {
			color: $blue-mid;
			font-size: 16px;
		}
		&.more {
			padding: 0;
			justify-content: center;
			flex: 0 0 2rem;
			margin-left: auto;
			i {
				color: $dark;
				margin: 0;
			}
		}
	}
}

.wrapper {
	border-top: thin solid $border-color;
	height: 100%;
	width: 100%;
	display: flex;
	* {
		font-family: $roboto;
		font-size: 14px;
	}
}

@supports (overflow: overlay) {
	.header {
		overflow: overlay;
		&::-webkit-scrollbar {
			display: block;
			height: 4px;
		}
		&::-webkit-scrollbar-button {
			display: none;
		}
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-thumb,
		&::-webkit-scrollbar-track-piece {
			background: transparent;
		}
		&::-webkit-scrollbar-thumb:active {
			background: rgba(black, 0.25) !important;
		}
		&:hover {
			&::-webkit-scrollbar-thumb {
				background: rgba(black, 0.1);
			}
		}
	}
}
