@import "/styles/variables";

.pageNav {
	display: flex;
	align-items: center;
	height: 2.5rem;
	i {
		cursor: pointer;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $dark;
		margin: 0 0.25rem;
		width: 2rem;
		border-radius: 8px;
		background: rgba(black, 0.01);
		&:hover {
			color: $blue-mid;
			background: rgba($blue-mid, 0.05);
		}
	}
	.disabled {
		pointer-events: none;
		opacity: 0.1;
	}
}

.results {
	margin-left: 1rem;
	flex: 0 0 180px;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	color: $dark;
}
