@import "/styles/variables";

.controls {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 1rem;
}

.num {
	margin-right: auto;
	width: 4rem;
	font-size: 12px;
	font-weight: 600;
	color: $blue-mid;
}

.btnContainer {
	display: flex;
	align-items: center;
}

.search {
	width: 16rem;
	input {
		font-size: 14px;
		height: 2.75rem;
		padding-left: 2.25rem !important;
		border-radius: 12px;
	}
	label {
		margin: 0;
	}
	i {
		left: 0.75rem !important;
	}
	p {
		height: 0;
	}
}
