@import "/styles/variables";

.aside {
  width: 100%;
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0;
}

.h3 {
  font-size: 16px;
  font-weight: 700;
  color: $darker;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
