@import "/styles/variables";

.console {
  width: 100%;
  background: #0f0f0f;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 2px;
}

.logArea {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: #0a0a0a;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s ease-out;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.25);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.4);
  }
  * {
    font-family: $jetbrains;
  }
  & > div {
    width: 100%;
    margin: -0.5px 0;
    display: flex;
  }
  p {
    width: 100%;
    padding: 0.25rem 6rem 0.25rem 2.5rem;
    font-size: 13px;
    border-top: thin solid #2b2b2b;
    border-bottom: thin solid #2b2b2b;
    position: relative;
    line-height: 1.25em;
    color: #dadada;
    svg {
      position: absolute;
      top: 0.3rem;
      left: 1rem;
    }
    &.error {
      z-index: 2;
      border-color: #790a0a;
      color: #f07c7c;
      background: #280001;

      path {
        fill: #f07c7c;
      }
    }
    &.warning {
      z-index: 1;
      border-color: #66550d;
      color: #f8d89e;
      background: #332b03;
      path {
        fill: #f8d89e;
      }
    }
    .time {
      position: absolute;
      top: 0.3rem;
      right: 1rem;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      opacity: 0.75;
      font-weight: 200;
    }
  }
}

.controls {
  height: 100%;
  width: 4rem;
  min-width: 4rem;
  border-left: thin solid $darker;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.75rem 0;
  button {
    margin-top: auto;
    justify-self: flex-end;
    padding: 0.4rem;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
    path {
      fill: $lightest;
      transition: fill 0.1s ease-out;
    }
    &:hover {
      opacity: 1;
      background: $darker;
      path {
        fill: $red;
      }
    }
  }
  i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light;
    font-style: normal;
    padding: 0.4rem;
    svg {
      margin-right: 0.1rem;
    }
  }
}
.warningIcon path {
  fill: #f8b538;
}
.errorIcon path {
  fill: #bd1d1d;
}
