@import "/styles/variables";

.console {
  width: 100%;
  background: #0f0f0f;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: #0a0a0a;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s ease-out;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.25);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.4);
  }
  * {
    font-family: $jetbrains;
  }
  & > div {
    width: 100%;
    margin: -0.5px 0;
    display: flex;
  }
  span {
    width: 100%;
    padding: 0.25rem 1rem 0.25rem 2.5rem;
    font-size: 13px;
    border-top: thin solid #2b2b2b;
    border-bottom: thin solid #2b2b2b;
    position: relative;
    line-height: 1.25em;
    color: #dadada;
    svg {
      position: absolute;
      top: 0.3rem;
      left: 1rem;
    }
    &.error {
      z-index: 2;
      border-color: #790a0a;
      color: #f07c7c;
      background: #280001;

      path {
        fill: #f07c7c;
      }
    }
    &.warning {
      z-index: 1;
      border-color: #66550d;
      color: #f8d89e;
      background: #332b03;
      path {
        fill: #f8d89e;
      }
    }
  }
}
