@import "/styles/variables";

.header {
  width: 100%;
  flex: 0 0 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  position: relative;
}

.icon {
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-radius 0.1s ease-out, box-shadow 0.1s ease-out;
  i {
    color: $lightest;
  }
  &.active {
    border-bottom-right-radius: 0;
  }
}

.admin {
  background: $magenta-light;
  &.active,
  &:hover {
    box-shadow: 0 0 12px 0 rgba($magenta-light, 0.5);
  }
}

.educator {
  background: $green;
  &.active,
  &:hover {
    box-shadow: 0 0 12px 0 rgba($green, 0.5);
  }
}

.learner {
  background: $blue-mid;
  &.active,
  &:hover {
    box-shadow: 0 0 12px 0 rgba($blue-mid, 0.5);
  }
}

.menu {
  position: absolute;
  bottom: -1rem;
  right: 0;
  transform: translateY(100%);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  border-radius: 16px 0 16px 16px;
  background: $lightest;
  box-shadow: 0 8px 16px 0 rgba(black, 0.1);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.05s ease-out;
  button {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0.5rem 1.5rem;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: $dark;
    transition: color 0.1s ease-out, background-color 0.1s ease-out;
    i {
      width: 1.5rem;
      margin-right: 0.75rem;
      color: $dark;
      transition: color 0.1s ease-out;
    }
    &:hover {
      color: $logo-mid;
      background: rgba(black, 0.025);
      i {
        color: $logo-mid;
      }
    }
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}
