@import "/styles/variables_new";

.header {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	border-bottom: 2px solid $lighter;
}

.home {
	margin-left: 4rem;
	margin-right: auto;
	opacity: 0;
	transform: translateX(-16px);
	transition: transform 0.1s ease-out 0.2s, opacity 0.1s ease-out 0.2s;
	&.collapsed {
		opacity: 1;
		transform: none;
	}
}

.collapse {
	position: absolute;
	left: -2.5rem;
	top: 1rem;
	height: 4rem;
	width: 2.5rem;
	border-radius: 8px 0 0 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.1s ease-out, left 0.2s ease-out;
	i {
		color: $dark;
	}
	&:hover {
		background: rgba(black, 0.05);
		i {
			color: $darkest;
		}
	}
	&.collapsed {
		left: 0;
		border-radius: 8px;
	}
}

.help {
	margin-right: 2rem;
	width: 3rem;
	height: 3rem;
	border-radius: 1rem;
	border: 2px solid $lighter;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 1rem;
	color: $darker;
	transition: color 0.1s ease-out, background-color 0.1s ease-out;
	i {
		font-size: 20px;
		color: inherit;
	}
	&:hover {
		background: $lighter;
		color: $logo-mid;
	}
}

.browse {
	margin-right: 2.5vw;
}

.headerUserContainer {
	position: relative;
	.headerUser {
		display: flex;
		align-items: center;
		cursor: pointer;
		height: 3.8rem;
		padding: 0 1rem;
		border-radius: 1rem;
		background: transparent;
		border: thin solid transparent;
		transition: background-color 0.1s ease-out, border-color 0.1s ease-out;
		&:hover,
		&.active {
			background: rgba(black, 0.05);
			i {
				color: $darkest;
			}
		}
		i {
			margin-left: 0.5rem;
			margin-right: -0.5rem;
			color: $darker;
		}
		&.active {
			border-color: rgba(black, 0.05);
		}
	}
	.avatar {
		border-radius: 3rem;
		overflow: hidden;
	}
	.headerName {
		margin-left: 1rem;
		display: flex;
		flex-direction: column;
		width: calc(5rem + 5vw);
		& > :first-child {
			width: 100%;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.25em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		& > :last-child {
			font-size: 12px;
			color: $light;
			text-transform: capitalize;
		}
	}
}

.menu {
	min-width: 100%;
	z-index: 5;
	position: absolute;
	bottom: -1rem;
	right: 0;
	transform: translateY(calc(100% - 4px));
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	border-radius: 16px;
	background: white;
	box-shadow: 0 8px 16px 0 rgba(black, 0.1);
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.05s ease-out, transform 0.1s ease-out;
	.name {
		padding: 0 1.5rem;
		font-size: 14px;
		font-weight: 500;
		color: rgba(black, 0.25);
	}
	button {
		display: flex;
		align-items: center;
		white-space: nowrap;
		padding: 0.5rem 1.5rem;
		text-align: left;
		font-size: 14px;
		font-weight: 600;
		color: $dark;
		transition: color 0.1s ease-out, background-color 0.1s ease-out;
		i {
			font-size: 20px;
			width: 1.5rem;
			margin-right: 0.75rem;
			color: $dark;
			transition: color 0.1s ease-out;
		}
		&:hover {
			color: $logo-mid;
			background: rgba(black, 0.025);
			i {
				color: $logo-mid;
			}
		}
	}
	&.active {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(100%);
	}
}

.divider {
	height: 1px;
	width: calc(100% - 3rem);
	margin: 0.5rem 1.5rem;
	background: rgba(black, 0.05);
}

.auth {
	height: 100%;
	display: flex;
	button {
		font-weight: 600;
		letter-spacing: 0.05em;
	}
	.signUp {
		margin-right: 1rem;
		background: $logo-mid;
		box-shadow: 0 4px 12px 0 rgba($logo-mid, 0.5);
		&:hover {
			box-shadow: 0 8px 24px 0 rgba($logo-mid, 0.5);
		}
	}
	.logIn {
		color: $blue-mid;
		border: medium solid $blue-mid;
		&:hover {
			color: $blue-dark;
			border-color: $blue-dark;
		}
	}
}
