@import "/styles/variables";

.projectThumbnailWrapper {
  height: 24vh;
  width: 24vh;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &.selectedThumbnail {
    position: relative;
    .projectThumbnail {
      height: 24vh;
      width: 24vh;
      & > div {
        transform: scale(110%);
      }
      & > p {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}

.projectThumbnail {
  height: 20vh;
  width: 20vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.2s ease-out, width 0.2s ease-out;
  p {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    background: rgba(0, 0, 0, 0.75);
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: $lightest;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  }
  div {
    transition: transform 0.2s ease-out;
  }
  &:hover > p {
    opacity: 1;
    transform: translate(0);
    transition: transform 0.2s ease-out, opacity 0.1s ease-out;
  }
  &:hover > div {
    transform: scale(110%);
  }
}
