@import "/styles/variables";

.container {
	position: absolute;
	z-index: 50;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.bell {
	margin-top: 2vh;
	font-size: 14px;
	font-weight: 500;
	padding: 0.5em 1em;
	color: $lightest;
	border-radius: 8px;
	text-align: center;
	opacity: 0;
	animation: animate 5s linear forwards;
	i {
		position: absolute;
		top: 50%;
		right: 1rem;
		font-size: 16px;
		color: white;
		margin-left: 0.5rem;
		cursor: pointer;
		display: none;
		padding: 0.25rem;
		transform: translateY(-50%);
		border-radius: 4px;
		transition: background-color 0.1s ease-out;
		&:hover {
			background: rgba(black, 0.1);
		}
	}
}

.neutral {
	background: rgba(black, 0.5);
	animation: animate 5s linear forwards;
}

.success {
	background: $green-mid;
	box-shadow: 0 4px 12px 0 rgba($green-mid, 0.2);
	animation: animate 5s linear forwards;
}

.alert {
	background: $amber;
	box-shadow: 0 4px 12px 0 rgba($amber, 0.2);
	animation: animate 5s linear forwards;
}

.error {
	background: $red;
	box-shadow: 0 4px 12px 0 rgba($red, 0.2);
	animation: animate 5s linear forwards;
}

.warning,
.catastrophe {
	border-radius: 0;
	margin-top: 0;
	width: 100vw;
	opacity: 1;
	animation: none;
	i {
		display: block;
	}
}

.warning {
	background: $amber;
	box-shadow: 0 4px 12px 0 rgba($amber, 0.2);
}

.catastrophe {
	background: $red;
	box-shadow: 0 4px 12px 0 rgba($red, 0.2);
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: translateY(-8px);
	}
	2% {
		transform: translateY(0);
	}
	5% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.hide {
	display: none;
}
