@import "/styles/variables_new";

.container {
	position: absolute;
	z-index: 50;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	pointer-events: none;
}

.bell {
	margin-top: 2vh;
	font-size: 14px;
	font-weight: 500;
	padding: 0.5em 1em;
	color: $lightest;
	border-radius: 4px;
	opacity: 0;
	animation: animate 5s linear forwards;
}

.neutral {
	background: rgba(black, 0.5);
}

.success {
	background: $green-dark;
	box-shadow: 0 4px 12px 0 rgba($green-dark, 0.2);
}

.error {
	background: $red;
	box-shadow: 0 4px 12px 0 rgba($red, 0.2);
}

.warning,
.catastrophe {
	text-align: center;
	border-radius: 0;
	margin-top: 0;
	width: 100vw;
	animation: remain 5s linear forwards;
}

.warning {
	background: $amber;
	box-shadow: 0 4px 12px 0 rgba($amber, 0.2);
}

.catastrophe {
	background: $red;
	box-shadow: 0 4px 12px 0 rgba($red, 0.2);
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: translateY(-3px);
	}
	5% {
		transform: translateY(0);
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes remain {
	0% {
		opacity: 0;
		transform: translateY(-3px);
	}
	5% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
