.caption {
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.02em;
	color: white;
	margin: 4vh 0 4vh 0;
	line-height: 2em;
}

.createAccount {
	margin-top: 2vh;
	margin-bottom: -2vh;
	color: white;
	font-size: 13px;
	font-weight: 600;
}

.btnContainer {
	display: flex;
	justify-content: flex-start;
}

.continueBtn {
	border-color: rgba(white, 0.5);
	color: white;
	height: 3.5rem;
	i {
		font-size: 20px;
		margin-left: 0.5em;
		margin-right: -0.5em;
		transition: transform 0.1s ease-out;
	}
	&:hover {
		border-color: white;
		color: white;
		i {
			transform: translateX(2px);
		}
	}
}
