.learning {
	margin-top: 1vh;
	height: 100%;
	width: 100%;
	&,
	* {
		color: white;
		font-size: 12px;
	}
	ol {
		margin: 1vh 0;
		padding-left: 1rem;
		li {
			padding-left: 0.25rem;
			margin: 0.4vh 0;
			line-height: 1.75em;
		}
	}
}
