@import "/styles/variables";

.teachingCaption {
	margin: 1vh 0;
	display: flex;
	align-items: center;
	&,
	* {
		font-size: 14px;
		color: white;
	}
	span {
		font-weight: 600;
		margin-right: 0.25em;
		text-transform: capitalize;
	}
	.pipe {
		height: 100%;
		width: 1px;
		margin: 0 0.5em;
		background: rgba(white, 0.25);
	}
}

.createAccount {
	margin-top: 2vh;
	margin-bottom: -2vh;
	color: white;
	font-size: 13px;
	font-weight: 600;
}

.subjects {
	margin: 1vh 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	.tag {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		font-weight: 600;
		height: 20px;
		padding: 10px;
		border-radius: 20px;
		border: 2px solid;
		margin: 3px 2px;
	}
}

.container {
	align-self: flex-start;
	margin: 1vh 0;
	display: flex;
	flex-direction: column;
}

.wrapper {
	margin: 0.5vh 0;
	display: flex;
	align-items: center;
	width: 27rem;
	font-size: 14px;
	font-weight: 500;
	color: white;
}

.btn {
	height: 2rem;
	padding: 0 0.75rem;
	margin-left: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(white, 0.2);
	color: white;
	font-size: 12px;
	font-weight: 300;
	transition: background-color 0.1s ease-out;
	i {
		color: inherit;
		font-size: 16px;
		font-weight: 0;
		margin-right: 0.25rem;
	}
	&:first-child {
		margin-left: auto;
	}
	&:hover {
		background: rgba(white, 0.35);
	}
	&.iconOnly {
		padding: 0;
		width: 2rem;
		i {
			margin: 0;
		}
	}
}

.dropdownContainer {
	display: flex;
	flex-direction: column;
	height: 2rem;
	margin-left: auto;
	width: 9rem;
	label {
		flex: 0 0 2rem;
		color: white;
		font-size: 12px;
		font-weight: 400;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.25rem 0.5rem;
		background: rgba(white, 0.2);
		cursor: pointer;
		i {
			color: inherit;
			font-size: 1rem;
			margin-left: 0.5rem;
		}
		&:hover {
			background: rgba(white, 0.35);
		}
	}
}

.dropdown {
	z-index: 1;
	display: flex;
	flex-direction: column;
	background: rgba(black, 0.75);
	backdrop-filter: blur(2px);
	.item {
		padding: 0 0.5rem;
		height: 2rem;
		display: flex;
		align-items: center;
		text-align: left;
		position: relative;
		color: white;
		font-size: 12px;
		&:hover {
			background: rgba(white, 0.2);
		}
	}
}

.disclaimer {
	color: white;
	font-size: 10px;
	opacity: 0.5;
}
