@import "/styles/variables";

.doc {
  height: 100%;
  width: 100%;
}

.page {
  border: medium solid rgba(black, 0.05);
  border-radius: 8px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  canvas {
    margin: 0 auto;
    width: 100% !important;
    height: 100% !important;
  }
}

.toc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 2vh 2vw;
  background: $lighter;
  border-radius: 8px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.tocItem {
  cursor: pointer;
  margin: 1vh 0;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0.75;
  transition: box-shadow 0.1s ease-out, border 0.1s ease-out;
  &.activeItem {
    opacity: 1;
    box-shadow: 0 0 0 2px rgba(black, 0.05);
  }
  canvas {
    margin: auto 0;
    width: 100% !important;
    height: auto !important;
  }
}

.pdfContainer {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  .pdfWrapper {
    height: 85%;
    position: relative;
  }
  .pdfNav {
    position: absolute;
    bottom: calc(-5vh - 1rem);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
    }
    p {
      font-size: 14px;
      font-weight: 600;
      color: $dark;
      width: 4rem;
      border: medium solid rgba(black, 0.05);
      margin: 0 1.5rem;
    }
    button {
      width: 1.75rem;
      span {
        font-size: 14px;
        color: $logo-mid;
      }
      &:hover {
        background: rgba(black, 0.05);
      }
    }
    a {
      font-size: 12px;
      font-weight: 600;
      width: 8rem;
      transition: background-color 0.1s ease-out, color 0.1s ease-out;
      span {
        font-size: 14px;
        transition: color 0.1s ease-out;
      }
      &.download {
        color: $logo-mid;
        margin-right: auto;
        border: thin solid $logo-mid;
        span {
          margin-right: 0.5rem;
          color: inherit;
        }
        &:hover {
          background: $logo-mid;
          color: $lightest;
        }
      }
      &.launch {
        color: $light;
        margin-left: auto;
        span {
          margin-left: 0.5rem;
          color: $logo-mid;
        }
        &:hover {
          background: rgba(black, 0.05);
          color: $dark;
        }
      }
    }
  }
}

.tocWrapper {
  width: 10vw;
  margin-left: 4vw;
  max-height: calc(85% + 5vh + 1rem);
}

@media only screen and (max-width: 1200px) {
  .tocWrapper {
    display: none;
  }
}
