@import "/styles/variables";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons&family=Material+Icons&display=swap");

.CTAbtn{
	padding: 1rem 1.5rem;
	border-radius: 10px;
	width: 100%;
	width: 12rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color ease 0.3s;
    margin: 0 0.5rem;
    background-color: $logo-light;
	p{
		font-family: $poppins;
		font-weight: 500;
		color: $lightest;
        font-size: 0.9rem;
	}
    span{
		color: $lightest;
        font-size: 2rem;
        margin-right: 1rem;
	}
}

.shareContainer{
    border-radius: 10px;
    background-color: $lightest;
    max-width: 40rem;
}

.titleContainer{
    width: 100%;
    // background-color: $logo-light;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    .title{
        padding: 1rem 2rem;
        h2{
            padding: 1rem 0;
            font-weight: 600;
            color: $dark;
            font-size: 1.15rem;
        }
    }
    .spacer{
        flex-grow: 1;
    }
    .exitModal{
        padding: 0 1rem 0 2rem;
        display: flex;
        align-items: center;
        span{
            font-size: 2.5rem;
            color: $dark;
        }
    }
}

.contentContainer{
    padding: 0rem 2rem 2rem 2rem;
}

.share{
    padding-bottom: 1.5rem;
    .clipboardContent{
        padding: 2rem;
        width: 100%;
        border-radius: 10px;
        background-color: #F6F1FF;
        cursor: pointer;
        p, span{
            padding-bottom: 1rem;
            color: $dark;
            font-size: 1.2rem;
            font-weight: 500;
            opacity: 50%;
            line-height: 150%;
        }
        span{
            font-weight: 600;
            opacity: 100%;
        }
    }
}

.btnContainer{
    display: flex;
    justify-content: space-between;
    .socialBtnContainer{
        display: flex;
    }
    .sharesocialShareBtnContainer{
        padding: 0.8rem;
        min-width: 3.5rem;
        border-radius: 10px;
        background-color: rgba(130, 88, 220, 0.5);
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        transition: background-color ease 0.3s;
        span{
            font-size: 2rem;
        }
        &:hover{
            background-color: $logo-mid;
        }
    }
    .copyBtn{
        margin: 0;
        &:hover{
            background-color: $logo-mid;
        }
    }
}