@import "/styles/variables";

.tallCta {
  height: 50vh;
  width: 40vh;
  max-height: 500px;
  max-width: 400px;
  min-width: 20vw;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .img {
    height: 60%;
    width: 85%;
  }
  p {
    font-size: 14px;
    color: $lightest;
    margin: 2vh 0;
  }
  button {
    margin-bottom: 2vh;
    min-width: 220px;
    width: 65%;
    height: 4.5rem;
    border-radius: 4.5rem;
    font-size: 20px;
    font-weight: 600;
  }
}
