@import "/styles/variables_new";

.tallCta {
	height: 50vh;
	width: 40vh;
	max-height: 400px;
	max-width: 350px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.img {
		height: 60%;
		width: 85%;
	}
	p {
		font-size: 14px;
		color: $lightest;
		margin: 2vh 0;
		text-align: center;
		width: 85%;
	}
	button {
		margin-bottom: 1vh;
		width: 65%;
		height: 4rem;
		border-radius: 4.5rem;
		font-size: 18px;
		padding: 0;
		font-weight: 600;
	}
}
