@import "/styles/variables_new";

.form {
	width: 100%;
	margin-top: 3vh;
	.input {
		margin: 1vh 0;
	}
}

.btnContainer {
	margin-top: 3vh;
	width: 100%;
	display: flex;
	.submit,
	.cancel {
		font-weight: 600;
		padding: 0 2em;
		i {
			font-size: 20px;
			margin-right: 0.5em;
		}
	}
	.cancel {
		margin-right: 1vw;
	}
}

.learnerNameContainer {
	display: flex;
	flex-direction: column;
	.caption {
		font-size: 12px;
		color: $light;
	}
	.learnerName {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		font-size: 1.25rem;
		height: 3rem;
		.changeNameBtn {
			margin: 0;
			height: 1.75rem;
			width: auto;
			padding: 0 1rem;
			font-size: 11px;
			border: none;
			color: rgba(black, 0.5);
			background: rgba(black, 0.06);
			transition: background-color 0.1s ease-out, color 0.1s ease-out;
			&:hover {
				color: white;
				background: rgba($logo-mid, 0.75);
			}
		}
	}
}

.unsavedChanges {
	margin-top: 1vh;
	color: $light;
	font-size: 11px;
}
