@import "/styles/variables";

.task {
	height: 175px;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem 1rem 1.25rem 1.75rem;
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.imgContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.cover {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.75;
	z-index: -1;
}

.status {
	margin-bottom: auto;
	align-self: flex-end;
	display: flex;
	align-items: center;
	font-size: 12px;
	color: white;
	font-weight: 600;
	padding: 2px 2px 2px 6px;
	border-radius: 8px;
	transition: background-color 0.1s ease-out;
	.checkbox {
		display: flex;
		align-self: center;
		justify-content: center;
		border: 2px solid white;
		border-radius: 6px;
		height: 20px;
		width: 20px;
		margin-left: 0.5rem;
		i {
			font-size: 1rem;
			font-weight: 700;
			color: $green-dark;
		}
		&.checked {
			background: white;
		}
	}
	&:hover {
		background: rgba(black, 0.25);
	}
}

.icon {
	font-size: 2rem;
	color: white;
}

.titleContainer {
	padding-right: 0.75rem;
	margin-top: 0.5rem;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	h2 {
		font-size: 1rem;
		font-weight: 600;
		color: white;
		width: calc(100% - 4rem);
	}
}
