@import "/styles/variables";

.imgContainer {
	position: relative;
	width: 45%;
	transition: background-color 0.1s ease-out;
	&.signup {
		background: rgba($green-mid, 0.25);
	}
	&.login {
		background: rgba($blue-mid, 0.2);
	}
	.imgWrapper {
		position: relative;
		height: 100%;
		width: 100%;
	}
}

.formContainer {
	width: 55%;
	max-height: 95vh;
	min-height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 2vh 4vw;
}
