@import "/styles/variables";

.controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: none;
  box-shadow: none !important;
  max-height: 140px;
  & > * {
    background: $light;
    border: none !important;
    opacity: 0.75;
    position: relative;
    transition: opacity 0.1s ease-out;
    &:hover {
      background: $darker !important;
      opacity: 1 !important;
      svg path {
        fill: $lightest !important;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: thin solid $lighter;
      pointer-events: none;
    }
  }
  .customControl {
    padding: 5px;
    svg {
      max-height: 16px;
      max-width: 16px;
      path {
        fill: black;
      }
    }
  }
  .deactive {
    opacity: 0.25;
    pointer-events: none;
  }
  .locked {
    opacity: 0.75;
    background: $lightest;
    svg path {
      fill: rgb(255, 22, 22);
    }
    &:hover {
      opacity: 1;
    }
  }
}

.prioritise {
  order: -1;
}

.customControl.clearAllButton {
  svg {
    padding: 1px;
  }
}

.lockAlert {
  animation: alert 0.8s linear infinite;
}

@keyframes alert {
  50% {
    background: red;
  }
}
