@import "/styles/variables";

.controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: none;
  box-shadow: none !important;
  max-height: 140px;
  & > * {
    background: $light;
    border: thin solid $lighter !important;
    opacity: 0.75;
    transition: opacity 0.1s ease-out;
    &:hover {
      opacity: 1;
    }
  }
  .customControl {
    padding: 5px;
    svg {
      max-height: 16px;
      max-width: 16px;
      path {
        fill: black;
      }
    }
  }
  .deactive {
    opacity: 0.25;
    pointer-events: none;
  }
  .locked {
    opacity: 0.75;
    background: $lightest;
    svg path {
      fill: rgb(255, 22, 22);
    }
    &:hover {
      opacity: 1;
    }
  }
}

.undoButton,
.redoButton,
.saveButton,
.restoreButton {
  order: -1;
}

.lockAlert {
  animation: alert 0.8s linear infinite;
}

@keyframes alert {
  50% {
    background: red;
  }
}
