@import "/styles/variables";

.dndbar {
	flex: 0 0 auto;
	font-size: 0.75rem;
	background: $lightest;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 100%;
	border-right: thin solid $lighter;
}

.wrapper {
	height: 100%;
	width: 100%;
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	overflow-y: scroll;
	padding: 1vh 1rem;
	h5 {
		font-size: 1rem;
		font-weight: 600;
		margin-top: 0.5rem;
	}
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(white, 0.25);
	}
	&::-webkit-scrollbar-thumb:hover {
		background: rgba(white, 0.5);
	}
}
