@import "/styles/variables";

.editorContainer {
  height: 100%;
  width: 100%;
  background: $bg-light;
  display: flex;
  position: relative;
  svg {
    display: block;
  }
  &.disable {
    pointer-events: none;
    opacity: 0.5;
    * {
      pointer-events: none !important;
    }
  }
}

.editorWrapper {
  height: 100%;
  flex-grow: 1;
  position: relative;
}

.compileBtn {
  position: absolute;
  top: 1vw;
  left: 5vw;
  padding: 0.5em 1em;
  background: $green;
  color: $lightest;
  z-index: 5;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  &:not(.newChanges) {
    pointer-events: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.25;
    filter: grayscale(1);
  }
}

.lockAlert {
  animation: alert 0.8s linear infinite;
}

@keyframes alert {
  50% {
    background: red;
  }
}
