@import "/styles/variables";

.contextMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: $lightest;
  width: 14rem;
  border-radius: 4px;
  padding: 4px;
  z-index: 5;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
  button {
    width: 100%;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
    border-radius: 4px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div,
    p {
      font-size: 13px;
    }
    .item {
      color: $dark;
      display: flex;
      align-items: center;
      font-weight: 500;
    }
    .hotkey {
      color: $light;
      font-weight: 300;
    }
    span {
      margin-right: 0.5rem;
      font-size: 18px;
      width: 1.25rem;
    }
    &:hover {
      background: #faf5ff;
      color: $logo-dark;
      span {
        color: $logo-dark;
      }
      .item {
        color: $logo-mid;
      }
      .hotkey {
        color: #a3a3a3;
      }
    }
  }
  .deactive {
    pointer-events: none;
    opacity: 0.25;
    span {
      opacity: 0.5;
    }
  }
}

.divider {
  width: calc(100% + 8px);
  height: 1px;
  background: $lighter;
  margin: 4px 0;
  margin-left: -4px;
}
