@import "/styles/variables";

.node {
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  h4 {
    font-size: 1rem;
    font-weight: 600;
    color: $lightest;
  }
  h5 {
    font-size: 14px;
    color: $lightest;
  }
  select,
  input {
    height: 2rem;
    width: 100%;
    background: $lighter;
    border-radius: 2px;
    padding: 0 2px;
    transition: background-color 0.1s ease-out;
    &,
    * {
      font-size: 14px;
      font-weight: 500;
    }
    &:hover {
      background: $lightest;
    }
  }
  input {
    padding: 0 4px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
  h4,
  h5,
  select,
  input {
    margin: 0.1rem 0;
  }
}

.hasLeftHandle {
  padding-left: 14px;
}

.hasRightHandle {
  padding-right: 14px;
}

.hasRightLabel {
  padding-right: calc(4rem + 14px);
}

.sensing {
  background: #40aaf8;
}

.actioning {
  background: #00dccf;
  height: 5rem;
  width: 10rem;
}

.operating {
  background: #9c40f8;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 10rem;
  h4 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  &.operatingGeneral {
    width: 12rem;
    select {
      margin: 0 0.5rem;
      width: 4rem;
    }
  }
}

.conditionals {
  background: #ff6bcd;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  h4 {
    margin-right: 0.5rem;
  }
  input {
    margin: 0;
  }
}

.nodeStart {
  background: #08df44;
  height: 2rem;
  width: 5rem;
}

.nodeEnd {
  background: #f3319a;
  height: 2rem;
  width: 5rem;
}

.nodeDistance {
  height: 9rem;
  width: 10rem;
}

.nodeSpeedOf {
  height: 5rem;
  width: 10rem;
}

.nodeSizeOf {
  height: 5rem;
  width: 14rem;
}

.nodeIf {
  height: 7rem;
  width: 10rem;
}

.nodeRepeat,
.nodeWhile {
  height: 5rem;
  width: 12rem;
}

.nodeIf,
.nodeWhile {
  input {
    pointer-events: none;
    opacity: 0.5;
  }
}

.handle.leftHandle {
  height: 12px;
  width: 12px;
  left: -6px;
}

.handle.rightHandle {
  height: 12px;
  width: 12px;
  right: -6px;
}

.handle.topHandle {
  height: 12px;
  width: 12px;
  top: 2px;
}

.handle.executionHandle {
  border-radius: 0;
  &.targetHandle {
    background: $lightest;
    border: 2px solid $amber;
  }
  &.sourceHandle {
    background: $amber;
    border: 2px solid $lightest;
  }
}

.handle.paramHandle {
  border-radius: 6px;
  &.targetHandle {
    background: $lightest;
    border: 2px solid #b1b1b7;
  }
  &.sourceHandle {
    background: #b1b1b7;
    border: 2px solid $lightest;
  }
}

.leftHandleLabel,
.rightHandleLabel {
  position: absolute;
  font-size: 14px;
  line-height: 1em;
  color: $lightest;
}
.leftHandleLabel {
  left: 14px;
}
.rightHandleLabel {
  right: 14px;
}

.handle.sourceHandle.executionHandle:not(.handleConnected) {
  &::before {
    content: "";
    height: 1px;
    width: 8px;
    background: $light;
    position: absolute;
    right: -10px;
    top: 4px;
    opacity: 0.5;
    pointer-events: none;
  }
  &::after {
    content: "END";
    color: $light;
    font-size: 8px;
    font-weight: 600;
    position: absolute;
    right: -36px;
    top: -2px;
    height: 8px;
    padding: 2px 4px 0 4px;
    background: $lighter;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: thin solid $light;
    opacity: 0.5;
    pointer-events: none;
  }
  &:active::before,
  &:active::after {
    opacity: 0.2;
  }
}

.nodeMini {
  min-height: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 10px;
  overflow: hidden;
  border-radius: 4px;
  margin: 0.25rem 0;
  cursor: grab;
  width: auto !important;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
  h4 {
    font-size: 14px;
    font-weight: 500;
    color: $lightest;
    margin: 0;
  }
  .blankInput {
    height: 1.25rem;
    width: 2rem;
    background: $lightest;
    margin: 0 0.5rem;
    border-radius: 2px;
    opacity: 0.75;
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  &:active {
    cursor: grabbing !important;
  }
}
