@import "/styles/variables_new";

.adminConsole {
	height: 100%;
	width: 100%;
	padding: 2vh 2vw;
	display: flex;
	flex-direction: column;
	background: white;
}

.controls {
	margin-left: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 0 0 3rem;
	.mainBtnContainer {
		height: 100%;
		display: flex;
	}
	.tab {
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;
		color: $light;
		font-weight: 600;
		font-size: 12px;
		margin-right: 2rem;
		transition: color 0.1s ease-out;
		i {
			color: inherit;
			font-size: 20px;
			margin-right: 0.5rem;
		}
		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 3px;
			width: 0;
			background: $logo-mid;
			transition: width 0.2s ease-out;
		}
		&:hover {
			color: $dark;
		}
		&.active {
			color: $logo-mid;
			&::after {
				width: 32px;
			}
		}
	}
	.otherBtnContainer {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.search {
		height: 100%;
		position: relative;
		input {
			border: 2px solid $lighter;
			border-radius: 16px;
			height: 100%;
			width: 14rem;
			font-size: 12px;
			font-family: $poppins;
			font-weight: 500;
			padding: 0 1.25rem 0 2.5rem;
			transition: padding 0.2s ease-out, border 0.1s ease-out, background-color 0.1s ease-out, color 0.1s ease-out;
			&::placeholder {
				font-weight: 400;
				color: $light;
				transition: color 0.1s ease-out;
			}
			&:focus {
				border-color: $blue-mid;
				background: rgba($blue-mid, 0.05);
				padding-left: 1.25rem;
				& ~ i {
					opacity: 0;
				}
			}
		}
		i {
			position: absolute;
			top: 50%;
			left: 1rem;
			transform: translateY(-50%);
			font-size: 16px;
			pointer-events: none;
			color: $light;
			transition: opacity 0.1s ease-out, color 0.1s ease-out;
		}
		&:hover {
			input {
				background: rgba($blue-mid, 0.05);
			}
			input,
			input::placeholder,
			i {
				color: $blue-mid;
			}
		}
	}
	.toggleHeader {
		height: 2.5rem;
		margin-left: 2rem;
		flex: 0 0 6rem;
		min-width: 6rem;
		max-width: 6rem;
		padding: 0 0.75rem 0 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $blue-mid;
		border-radius: 12px;
		transition: background-color 0.1s ease-out;
		span {
			font-size: 12px;
			font-weight: 500;
			color: inherit;
			margin-right: 0.5rem;
		}
		i {
			color: inherit;
			transition: transform 0.2s ease-out;
			font-size: 16px;
		}
		&:hover {
			background-color: rgba($blue-mid, 0.1);
		}
	}
}

.tableHead {
	padding: 0 1rem;
	margin-top: 1rem;
	height: 40px;
	background: $lightest;
	border-radius: 8px;
	border: thin solid $lighter;
	display: flex;
}

.colName {
	flex-grow: 1;
	font-size: 11px;
	color: $darker;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	padding-left: 1rem;
}

.check {
	flex-grow: 0;
	padding: 0 0.5rem;
	i {
		font-size: 12px;
		color: inherit;
		border: thin solid $light;
		border-radius: 4px;
		height: 16px;
		width: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: transparent;
		transition: color 0.1s ease-out, background-color 0.1s ease-out, border-color 0.1s ease-out;
	}
	&.checked i {
		color: white !important;
		background: $light;
	}
	&.colName {
		i {
			border-color: $dark;
		}
		&.checked i {
			background: $dark;
		}
	}
}

.table {
	min-height: none;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	overflow-y: scroll;
	border-bottom: thin solid $lighter;
	&::-webkit-scrollbar {
		width: 8px;
	}
}

.row {
	flex: 0 0 3rem;
	width: 100%;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	transition: background-color 0.1s ease-out, border-radius 0.2s ease-out;
	&::before,
	&:last-child::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: $lighter;
	}
	&:last-child::after {
		top: auto;
		bottom: 0;
	}
	&:hover {
		background: rgba($logo-mid, 0.02);
		.cell {
			color: $logo-mid !important;
		}
		.check i {
			border-color: $logo-mid !important;
		}
		.checked i {
			background: $logo-mid !important;
		}
	}
	&.checkedRow {
		background: rgba($light, 0.25);
		border-radius: 16px;
		&,
		& + .row {
			&::before {
				opacity: 0;
			}
		}
		&::after {
			opacity: 0;
		}
		.checked i {
			color: white !important;
			background: $light;
		}
		& + .row.checkedRow {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
	&.sharpBottom {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	&:last-child {
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
	}
}

.cell {
	flex-grow: 1;
	color: $dark;
	font-weight: 500;
	font-size: 12px;
	padding-left: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.displayName {
	flex-basis: 7rem;
}

.username {
	flex-basis: 10rem;
}

.email {
	flex-basis: 14rem;
}

.joined {
	flex-basis: 6rem;
}

.invitedBy {
	flex-basis: 10rem;
}

.tableFooter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 0 0 2rem;
}

.viewSize {
	flex: 0 0 180px;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 500;
	color: $light;
	.viewSizeBtn {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 0.5rem;
		height: 100%;
		margin: 0 0.5rem;
		position: relative;
		width: 4rem;
		border: thin solid $lighter;
		border-radius: 8px;
		transition: background-color 0.1s ease-out, border-color 0.1s ease-out;
		span {
			color: $blue-mid;
			font-size: 14px;
			font-weight: 500;
			margin-right: 0.25rem;
		}
		i {
			font-size: 18px;
			transition: color 0.1s ease-out, transform 0.2s ease-out;
		}
		.viewSizeMenu {
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, calc(-100% - 0.5rem));
			display: flex;
			flex-direction: column;
			font-size: 14px;
			color: $darker;
			width: 100%;
			padding: 0.4rem 0.25rem;
			background: white;
			border-radius: 8px;
			opacity: 0;
			box-shadow: 0 4px 8px 0 rgba(black, 0.1);
			transition: opacity 0.1s ease-out;
			& > div {
				display: flex;
				align-items: center;
				padding-left: 0.5rem;
				height: 1.5rem;
				width: 100%;
				font-size: 13px;
				font-weight: 500;
				border-radius: 4px;
				transition: background-color 0.1s ease-out, color 0.1s ease-out;
				&:hover {
					color: $blue-mid;
					background: rgba($blue-mid, 0.05);
				}
			}
		}
		&:hover {
			background: rgba($blue-mid, 0.05);
			i {
				color: $blue-mid;
			}
		}
		&.show {
			border-color: $blue-mid;
			background: rgba($blue-mid, 0.05);
			i {
				color: $blue-mid;
				transform: rotate(180deg);
			}
			.viewSizeMenu {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
}

.pagination {
	display: flex;
	align-items: center;
	i {
		color: $blue-mid;
		font-size: 20px;
	}
}

.results {
	flex: 0 0 180px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 12px;
	font-weight: 500;
	color: $light;
}
