@import "/styles/variables";

.form {
	display: flex;
	align-items: flex-end;
}

.inputContainer {
	width: 250px;
	label {
		font-size: 11px;
	}
	.input {
		height: 3rem;
		&::placeholder {
			font-size: 14px;
		}
	}
	p {
		font-size: 10px;
	}
}

.submit {
	height: 3rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	background: rgba($blue-mid, 0.1);
	color: $blue-mid;
	&:hover {
		background: $blue-mid;
		color: white;
	}
}
