@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined&family=Material+Icons&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons&display=swap");

$darkest: #262626;
$darker: #3a3a3a;
$dark: #585858;

$light: #cecece;
$lighter: #f9f9f9;
$lightest: #fdfdfd;

$logo-light: #8258dc;
$logo-mid: #6854d9;
$logo-dark: #4e4ed6;

$blue-light: #36c4e8;
$blue-mid: #209ce2;
$blue-dark: #0a73dc;

$magenta-light: #b835cf;
$magenta-mid: #7f21b3;
$magenta-dark: #450c97;

$red: #fa6f6f;
$red-dark: #f56363;
$orange: #ff6f1e;
$amber: #fdb554;
$gold: #fdd135;

$green-light: #5fe394;
$green-mid: #18dbac;
$green-dark: #11cea2;

$poppins: "Poppins", sans-serif;
$jetbrains: "JetBrains Mono", monospace;
