@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$darkest: #141414;
$darker: #262626;
$dark: #999999;

$light: #ababab;
$lighter: #f4f4f4;
$lightest: #ffffff;

$logo-light: #8258dc;
$logo-mid: #6854d9;
$logo-dark: #4e4ed6;

$bg-light: #fdfdfd;
$bg-dark: #1d1d1d;

$blue-light: #36c4e8;
$blue-mid: #209ce2;
$blue-dark: #0a73dc;

$magenta-light: #b835cf;
$magenta-mid: #7f21b3;
$magenta-dark: #450c97;

$red: #fa6f6f;
$orange: #ff6f1e;
$amber: #ffb649;
$gold: #fdd135;
$green: #18dbac;
$highlight: #4bf0ea;

$exo-2: "Exo 2", sans-serif;
$poppins: "Poppins", sans-serif;
$jetbrains: "JetBrains Mono", monospace;
