@import "/styles/variables";

.browse {
	height: 100%;
	width: 100%;
	background: white;
}

.inner {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.preview {
	width: 100%;
	flex: 0 0 70%;
	overflow: hidden;
	min-height: 500px;
}

.h2 {
	font-size: 18px;
	font-weight: 600;
	margin-top: 3rem;
	margin-bottom: 1rem;
	margin-left: 3vw;
}

.allProjects {
	margin: 1rem 5vw 1rem 2vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	padding-bottom: 2rem;
}

.empty {
	flex: 1 1 20%;
	min-width: 200px;
	margin: 0 1vw 4vh 1vw;
}

@media only screen and (min-width: 1200px) {
	.allProjects {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media only screen and (min-width: 1600px) {
	.allProjects {
		grid-template-columns: repeat(5, 1fr);
	}
}
