@import "/styles/variables";

.browse {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 5vh 10vw;
  display: flex;
  flex-direction: column;
  background: $bg-light;
}

.nav {
  flex: 0 0 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navAuth {
    height: 100%;
    display: flex;
    button {
      height: 100%;
      padding: 0 1.5rem;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.05em;
      margin: 0 0.5vw;
    }
    .signUp {
      background: $logo-mid;
      color: $lightest;
      box-shadow: 0 4px 12px 0 rgba($logo-mid, 0.5);
      transition: transform 0.1s ease-out;
      &:hover {
        transform: translateY(-1px);
      }
    }
    .logIn,
    .signOut {
      color: $dark;
      border: medium solid transparent;
      transition: border-color 0.1s ease-out, color 0.1s ease-out;
      &:hover {
        color: $blue-dark;
        border-color: $blue-dark;
      }
    }
    .signOut {
      opacity: 0.5;
      border: none;
      transition: opacity 0.1s ease-out, color 0.1s ease-out,
        background-color 0.1s ease-out;
      &:hover {
        opacity: 1;
        color: $dark;
        background: $light;
      }
    }
  }
}

.main {
  margin-top: 10vh;
  flex: 1 1 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  h2 {
    font-size: 1rem;
    font-weight: 600;
    color: $light;
    letter-spacing: 0.05em;
    margin-bottom: 4vh;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.01em;
    margin-bottom: 1vh;
  }
  p {
    font-size: 13px;
    line-height: 1.75em;
    letter-spacing: 0.01em;
    font-weight: 500;
  }
  .continue {
    margin-top: auto;
    margin-bottom: 4vh;
    flex: 0 0 4rem;
    width: 13rem;
    border-radius: 12rem;
    color: $lightest;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $green;
    letter-spacing: 0.05em;
    font-size: 18px;
    box-shadow: 0 4px 16px 0 rgba($green, 0.5);
    transition: box-shadow 0.1s ease-out;
    span {
      color: $lightest;
      margin-left: 0.5rem;
      transition: transform 0.1s ease-out;
    }
    &:hover {
      box-shadow: 0 8px 16px 0 rgba($green, 0.75);
      span {
        transform: translateX(2px);
      }
    }
  }
}

.vidContainer {
  width: 45%;
  position: relative;
  align-self: center;
  .vid {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(1vw);
    &.vidLoaded {
      opacity: 1;
      transform: none;
      transition: opacity 0.2s ease-out 0.4s, transform 0.2s ease-out 0.4s;
    }
  }
}

.allProjects {
  margin-top: 6vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 25vh;
}
