@import "/styles/variables";

.view {
	height: 100%;
	width: 100%;
	padding: 1.5rem 2.5rem;
	display: flex;
	flex-direction: column;
	background: white;
	h1 {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.5rem;
		font-weight: 600;
	}
	h2 {
		font-size: 1rem;
		font-weight: 600;
		margin-bottom: 0.75rem;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper {
	width: 50vw;
	max-width: 750px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.divider {
	width: 100%;
	height: 1px;
	background: $lighter;
	margin: 2rem 0;
}

.teachers {
	width: 100%;
	display: flex;
	flex-direction: column;
	.teachersHead {
		display: grid;
		background: $lightest;
		grid-template-columns: 1fr 1fr 2fr;
		padding-right: 8px;
		border-bottom: thin solid #fafafa;
		span {
			font-weight: 600;
			color: black;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
	}
	.teachersTable {
		width: 100%;
		max-height: 25vh;
		display: grid;
		grid-template-columns: 1fr 1fr 2fr;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			width: 8px;
		}
		a {
			color: $blue-dark;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	span,
	a {
		font-size: 12px;
		font-weight: 500;
		padding: 0.5rem 1rem;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		border-top: 1px solid $lighter;
	}
}

.leaveBtn {
	width: 10rem;
	background: rgba($amber, 0.1);
	color: $amber;
	&:hover {
		background: rgba($orange, 0.1);
		color: $orange;
	}
}

.deleteBtn {
	width: 10rem;
	&:hover {
		background: rgba($red, 0.1);
		color: $red;
	}
}
