@import "/styles/variables";

.view {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 2vh 2vw;
	background: white;
	h1 {
		font-size: 2rem;
		font-weight: 600;
	}
}

.header {
	flex: 0 0 auto;
	width: 100%;
	display: flex;
	align-items: center;
}

.controls {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 1rem 0;
	.skeletonSelect {
		width: 10rem;
		height: 2.5rem;
		margin-right: 1rem;
		border-radius: 12px;
		background: $lighter;
	}
}

.tooltip {
	position: absolute;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	background: rgba(black, 0.75);
	border-radius: 8px;
	padding: 0.5rem 0.75rem;
	* {
		color: white;
		font-size: 11px;
	}
	.tooltipTitle {
		font-weight: 600;
		font-size: 13px;
		margin-bottom: 4px;
	}
	.tooltipStep {
		font-weight: 500;
		margin-bottom: 4px;
	}
	.completed {
		color: $green-mid;
	}
	.visited {
		color: $gold;
	}
}
