@import "/styles/variables";

.page {
	width: 100%;
	height: 100%;
	padding-top: 3.5rem;
}

.iframe {
	position: absolute;
	height: 0;
	width: 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
}

.main {
	width: 100%;
	height: 100%;
	display: grid;
	&.defaultLayout {
		grid-template-areas:
			"editor unity"
			"editor console";
		grid-template-columns: 60% 40%;
		grid-template-rows: 50% 50%;
	}
	&.editorLayout {
		grid-template-areas: "editor console";
		grid-template-columns: 70% 30%;
		grid-template-rows: 100%;
		.unity {
			width: 0;
			height: 0;
			max-height: 0;
			max-width: 0;
			overflow: hidden;
		}
	}
	&.simulationLayout {
		grid-template-areas:
			"unity"
			"console";
		grid-template-columns: 100%;
		grid-template-rows: 75% 25%;
		.editor {
			width: 0;
			height: 0;
		}
	}
}

.editor {
	z-index: 1;
	grid-area: editor;
	border-right: thin solid $border-color;
}

.unity {
	grid-area: unity;
	border-bottom: thin solid $border-color;
}

$console-black: #242424;

.consoleContainer {
	display: flex;
	flex-direction: column;
	background: $console-black;
	grid-area: console;
	.consoleHeader {
		background: #181818;
		width: 100%;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: thin solid $console-black;
		.consoleTitle {
			height: 100%;
			font-size: 12px;
			color: white;
			display: flex;
			align-items: center;
			padding: 0 1rem;
			background: $console-black;
		}
		.consoleBtnContainer {
			display: flex;
			align-items: center;
			.clearConsole {
				height: 32px;
				width: 32px;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: background-color 0.1s ease-out;
				&:hover {
					background: rgba(white, 0.1);
				}
			}
		}
	}
	.consoleWrapper {
		flex: 1;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 12px;
		}
		&::-webkit-scrollbar-track {
			background: rgba(white, 0.05);
		}
		&::-webkit-scrollbar-thumb {
			background: rgba(white, 0.25);
		}
		&::-webkit-scrollbar-thumb:hover {
			background: rgba(white, 0.4);
		}
		&::-webkit-scrollbar-thumb:active {
			background: rgba(white, 0.65);
		}
	}
}

.consoleWrapper * {
	color: inherit;
}
