@import "/styles/variables";

.view {
	width: 100%;
	height: 100%;
	padding: 2vh 2vw;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}

.leftSide {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	padding: 1rem 0;
}

.headings {
	width: 400px;
	display: flex;
	flex-direction: column;
	h1 {
		margin: 0.5rem 0;
		font-size: 20px;
		font-weight: 600;
	}
	h3 {
		font-size: 11px;
		font-weight: 500;
		color: $dark;
	}
}

.cardContainer {
	padding: 1rem 0;
	align-self: center;
	display: grid;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	grid-template-columns: 1fr 1fr;
}

.card {
	width: 200px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: white;
	border-radius: 20px;
	padding: 1.5rem;
	box-shadow: 0 8px 18px 0 rgba(black, 0.075);
	transition: box-shadow 0.1s ease-out, transform 0.2s ease-out;
	h2 {
		margin-bottom: 1rem;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.25em;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: color 0.1s ease-out;
	}
	.reqHead {
		font-size: 11px;
		color: $light;
		font-weight: 500;
		margin-bottom: 0.5em;
		transition: $logo-mid;
	}
	.requirements {
		font-size: 11px;
		font-weight: 500;
		line-height: 1.25em;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		span {
			font-size: inherit;
			font-weight: inherit;
		}
		.completed {
			color: $green-mid;
		}
	}
	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 12px 18px 2px rgba(black, 0.075);
	}
	&.activeCard {
		transform: translateY(-2px);
		box-shadow: 0 0 1rem 0 rgba($logo-mid, 0.25);
		h2 {
			color: $logo-mid;
		}
		.reqHead {
			color: $logo-mid;
		}
	}
}

.rightSide {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
}

.floatCard {
	pointer-events: none;
	z-index: 0;
	position: fixed;
	background: white;
	border-radius: 2rem;
	padding: 1.5rem 2rem;
	width: 400px;
	box-shadow: 0 1rem 24px 0 rgba($logo-mid, 0.1);
	.imgContainer {
		width: 100%;
		height: 200px;
		border-radius: 12px;
		overflow: hidden;
	}
	h2 {
		font-size: 20px;
		font-weight: 600;
		margin: 1rem 0 0.5rem 0;
	}
	.description {
		font-size: 13px;
		font-weight: 500;
		line-height: 1.4em;
		margin-bottom: 1rem;
	}
	.requirements {
		font-size: 13px;
		font-weight: 600;
		color: $dark;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.item {
			display: flex;
			align-items: center;
			i {
				font-size: 1rem;
				display: none;
			}
			.dot {
				height: 4px;
				width: 4px;
				border-radius: 4px;
				background: $darkest;
				margin: 0 6px;
			}
			a {
				margin-left: 0.25em;
				padding: 0 0.5em;
				border-radius: 4px;
				font-size: 12px;
				font-weight: 500;
				line-height: 2em;
				cursor: pointer;
				pointer-events: auto;
				transition: color 0.1s ease-out, background-color 0.1s ease-out;
				&:hover {
					color: $logo-mid;
					background: rgba($logo-mid, 0.08);
				}
			}
			&.completed {
				i {
					color: $green-mid;
					display: block;
				}
				.dot {
					display: none;
				}
				a {
					color: $green-mid;
					&:hover {
						background: rgba($green-mid, 0.1);
					}
				}
			}
			&.noneItem {
				&,
				* {
					padding: 0;
					margin: 0;
					pointer-events: none;
					color: $green-mid;
				}
			}
		}
	}
	.goBtn {
		pointer-events: auto;
		padding: 1rem 1.5rem;
		border-radius: 1rem;
		margin-left: auto;
		margin-top: 1rem;
		font-size: 1rem;
		font-weight: 600;
		box-shadow: 0 0 12px 0 rgba($green-mid, 0.25);
		i {
			margin-left: 0.5rem;
			transition: transform 0.2s ease-out;
		}
		&:hover {
			transform: none;
			box-shadow: 0 0 1rem 0 rgba($green-mid, 0.5);
			i {
				transform: translateX(4px);
			}
		}
	}
}

@media only screen and (min-width: 1600px) {
	.cardContainer {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.rightSide {
		width: 600px;
	}

	.headings {
		width: 600px;
	}

	.floatCard {
		width: 600px;
		.imgContainer {
			height: 300px;
		}
	}
}
