@import "/styles/variables";

.container {
	width: 100%;
	height: 100%;
	max-height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.wrapper {
	margin: 3rem 0;
	width: 65%;
	min-width: 400px;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.instructions {
	width: 100%;
	margin: 2vh 0;
	background: $lightest;
	border-radius: 8px;
	padding: 2vh 2vw;
	display: flex;
	justify-content: space-around;
}

.imgContainer {
	width: 60%;
	position: relative;
	margin-right: 2vw;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	p {
		font-size: 14px;
		font-weight: 600;
		color: $dark;
		line-height: 1.5em;
		margin: 1vh 0;
	}
	.files {
		margin: 1vh 0;
		display: flex;
		border-radius: 8px;
		a {
			flex: 1 1 0;
			padding: 0.75rem 1rem;
			display: flex;
			align-items: center;
			border-radius: 8px;
			color: $lightest;
			font-weight: 600;
			font-size: 14px;
			transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;
			.iconContainer {
				height: 2.5rem;
				width: 2.5rem;
				padding: 0.5rem;
				border-radius: 8px;
				margin-right: 1rem;
				display: flex;
				align-items: center;
				justify-content: center;
				background: rgba(white, 0.25);
				span {
					color: $lightest;
				}
			}
			&:first-child {
				margin-right: 1rem;
			}
			&:hover {
				transform: translateY(-2px);
				box-shadow: 0 4px 16px 0 rgba(black, 0.25);
			}
		}
	}
}

.journalLink {
	margin: 1rem 0 2rem 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	label {
		font-size: 14px;
	}
	input {
		width: 100%;
		height: 3rem;
		background: rgba(black, 0.05);
		border-radius: 12px;
		margin: 0.75rem 0;
		padding: 0 1rem;
		font-family: $poppins;
		border: thin solid transparent;
		transition: border 0.1s ease-out, background-color 0.1s ease-out;
		&:focus {
			background: white;
			border: thin solid $logo-mid;
		}
	}
}
