@import "/styles/variables";

.page {
	height: 100%;
	max-height: 100%;
	width: 100%;
}

.aside {
	position: fixed;
	min-width: 10vw;
	left: 0;
	top: 15vh;
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0 1rem 0;
	background: white;
	border-radius: 0 1rem 1rem 0;
	box-shadow: 4px 0 2rem -8px rgba($blue-dark, 0.1);
	& > * {
		display: flex;
		align-items: center;
		height: 2.5rem;
		font-size: 14px;
		padding-left: 1.75rem;
		padding-right: 1.5rem;
	}
	.header {
		padding-left: 1.5rem;
		font-size: 12px;
		font-weight: 500;
		border-bottom: thin solid $lighter;
	}
	button {
		transition: all 0.1s ease-out;
		&:hover {
			background: $lighter;
		}
		&.active {
			font-weight: 500;
			background: rgba($blue-dark, 0.05);
			color: $blue-dark;
		}
	}
	&.blink {
		animation: blink 0.6s ease-out alternate infinite;
	}
}

@keyframes blink {
	from {
		box-shadow: 4px 0 2rem -8px rgba($blue-dark, 0.1);
	}
	to {
		box-shadow: 4px 0 3rem 0 rgba($blue-dark, 0.25);
	}
}

.main {
	height: 100%;
	width: 100%;
	padding-top: 4rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
