@import "/styles/variables";

.myView {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.section {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	h2 {
		width: 100%;
		font-size: 1.25rem;
		font-weight: 600;
		color: $darker;
		border-bottom: 2px solid $lighter;
		padding: 0.5rem 0;
		margin-bottom: 0.5rem;
	}
}

.instruction {
	font-size: 13px;
	margin-bottom: 0.5rem;
	opacity: 0.5;
}

.submit {
	align-self: flex-start;
	margin-top: 1rem;
	font-weight: 600;
	padding: 0 2em;
	i.left {
		font-size: 20px;
		margin-right: 0.5em;
		margin-left: -0.25em;
	}
	i.right {
		font-size: 20px;
		margin-left: 0.5em;
		margin-right: -0.25em;
	}
}

.form {
	margin-top: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	.input {
		margin: 0.25rem 0 0.5rem 0;
		width: 360px;
		max-width: 360px;
		label {
			margin: 0 0 0.25rem 0.25rem;
			font-size: 12px;
			color: $dark;
		}
		p {
			margin: 0 0 0 0.25rem !important;
		}
	}
	.codeContainer {
		display: flex;
		.codeInput {
			width: 3rem;
			margin: 0 0.4rem;
			label {
				white-space: nowrap;
			}
			input {
				text-align: center;
				padding: 0;
			}
			p {
				display: none;
			}
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.errorMessage {
		font-size: 12px;
		font-weight: 500;
		margin-top: 0.5rem;
		color: $red;
		height: 1em;
		opacity: 0;
	}
	.contact {
		margin-left: 0.3em;
		font-size: inherit;
		font-weight: inherit;
		color: $blue-dark;
		&:hover {
			text-decoration: underline;
		}
	}
	.unsavedChanges {
		margin-top: 1vh;
		color: $light;
		font-size: 11px;
	}
}

.profile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.avatar {
		margin-right: 1rem;
		margin-top: 0.5rem;
		flex: 0 0 10rem;
		height: 10rem;
		border-radius: 10rem;
		overflow: hidden;
	}
	.emailInput {
		background: transparent;
		padding-left: 0;
		cursor: pointer;
	}
}
