@import "/styles/variables";

.view {
	height: 100%;
	width: 100%;
	display: flex;
}

.mainContainer {
	flex: 1 1 0;
	height: 100%;
	background: $lightest;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
