@import "/styles/variables";

.support {
	min-height: 0;
	height: 100%;
	width: 100%;
	background: white;
	display: flex;
	flex-direction: column;
}

.banner {
	width: 100%;
	// height: 250px;
	flex: 1 1 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.shape {
	position: absolute;
	&::after {
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		border: thin solid;
		border-radius: inherit;
	}
}

.red {
	top: 0;
	left: 0;
	height: 300px;
	width: 300px;
	border-radius: 6rem;
	background: rgba($orange, 0.05);
	transform: translate(-30%, -70%) rotate(45deg);
	&::after {
		border-color: rgba($orange, 0.2);
		transform: translate(2rem, -2rem);
	}
}

.green {
	top: 0;
	right: 30%;
	height: 450px;
	width: 450px;
	border-radius: 450px;
	background: rgba($green-mid, 0.05);
	transform: translate(40%, -85%);
	&::after {
		border-color: rgba($green-mid, 0.25);
		transform: translate(-10%, -2%);
	}
}

.blue {
	bottom: 0;
	right: 0;
	height: 350px;
	width: 350px;
	border-radius: 2rem;
	background: rgba($blue-mid, 0.05);
	transform: scaleY(150%) rotate(45deg) translate(70%, -40%);
	&::after {
		border-color: rgba($blue-mid, 0.25);
		transform: translate(-1rem, -2rem);
	}
}

.yellow {
	left: 25%;
	bottom: 5%;
	height: 400px;
	width: 200px;
	border-radius: 4rem;
	background: rgba($gold, 0.05);
	transform: translate(0, 70%) rotate(-75deg);
	&::after {
		border-color: rgba($gold, 0.25);
		transform: translate(1rem, 4rem);
	}
}

.bannerContent {
	z-index: 1;
	display: flex;
	flex-direction: column;
	h1 {
		font-size: 2rem;
		font-weight: 600;
	}
	h2 {
		font-size: 1rem;
		font-weight: 500;
	}
	.searchbar {
		margin-top: 1rem;
		width: 500px;
		input {
			height: 3rem;
		}
		p {
			display: none;
		}
		i {
			top: 1rem !important;
		}
	}
}

.auth {
	position: absolute;
	top: 1.5rem;
	right: 2vw;
	display: flex;
	align-items: center;
	.signup {
		margin-right: 1rem;
		background: $logo-mid;
		box-shadow: 0 4px 16px 0 rgba($logo-mid, 0.25);
		&:hover {
			box-shadow: 0 8px 24px 0 rgba($logo-mid, 0.25);
		}
	}
	.login {
		color: $blue-mid;
		border-color: $blue-mid;
		transition: background-color 0.1s ease-out, color 0.1s ease-out;
		&:hover {
			color: white;
			background: $blue-mid;
		}
	}
}

.body {
	background: $lightest;
	flex: 1 1 60%;
	padding-bottom: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
